body {
    background-image: url(../assets/updated_picture.jpg);
    background-size: cover;
    padding-top: 70px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
}

#about_background_div {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    background-color: transparent;
}

a:link {
    color: rgb(100, 100, 130);
}

#about-div {
    float: left;
    margin-left: 10px;
    width: 55%;
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

#profile-img {
    float: right;
    width: 22%;
    margin-right: 2%;
}

.about_statement_div {
    clear: both;
}
.contact_img {
    width: 50px;
    height: auto;
}
