body {
    background-image: url(../assets/background2.jpg);
    background-size: cover;
    padding-top: 70px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
}

#about_background_div {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about-div {
    background-color: rgba(20, 20, 20, 0.4);
    float: right;
    margin-right: 2%;
    width: 72%;
}

#profile-img {
    float: right;
    width: 22%;
    margin-right: 2%;
}

