body {
    background-image: url(../assets/background2.jpg);
    background-size: cover;
    padding-top: 70px;
    font-family: "Quicksand", sans-serif;
}
#blog_background_div {
    background-color: white;
}

.post_div {
    background-color: white;
}
