
body {
    background-image: url(../assets/background.jpg);
    background-size: cover;
    padding-top: 70px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
}

#title-text {
    font-family: "Quicksand", sans-serif;
}

#background-div {
    color: white;
}