body {
    background-image: url(../assets/projects_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: "Quicksand", sans-serif;
}

#project_background_div {
    background-color: transparent;
    border-radius: 4px;
}

.project {
    height: 200px;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.project-title {
    font-size: 24px;
    text-align: left;
    margin-left: 2%;
    margin-top: 2%;
    width: 60%;
}