<head>

    <meta charset="utf-8">
    <meta name="author" content="Benjamin Murphy">
    <meta name="description" content="">
    
    <link href="{{ site.url }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.url }}/css/blog_index.css" rel="stylesheet">
    <link href="{{ site.url }}/css/site_index.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'> 
    
</head>

{{ content }}

<div id="footer">
    <p id="footer-p">Written by Benjamin Murphy. <a href="">GitHub source.</a> Copyright 2014. Some rights reserved.</p>
</div>